@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #141414;
  --foreground: #ededed;
  --primary: #fff3b0;
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
